.App {
  margin: 0;
  box-sizing: border-box;
  display: flex;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.leftSide {
  flex: 0.25;
}

.middleSide {
  flex: 0.7;
}

.rightSide {
  flex: 0.05;
  margin-left: auto; /* Pushes the right side to the extreme right */
}

.darkMode {
  background-color: black;
  color: white;
}
.bottomNavBar {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  border-top: 1px solid lightgray;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navItems {
  display: flex;
  color: gainsboro;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex: 1;
}

.navItems span {
  font-size: 12px;
  margin-top: 4px;
}

@media (max-width: 780px) {
  .bottomNavBar {
    display: flex;
  }
}
