.App {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  height: 100vh; /* Ensures the container takes up the full viewport height */
}

.leftSide,
.middleSide,
.rightSide {
  min-width: 0; /* Prevents overflow issues */
}

.leftSide {
  flex: 0.25;
}

.middleSide {
  flex: 0.7;
}

.rightSide {
  flex: 0.15;
  margin-left: auto; /* Pushes the right side to the extreme right */
}
