.App {
  margin: 0;
  box-sizing: border-box;
  display: flex;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.leftSide {
  flex: 0.25;
}

.middleSide {
  flex: 0.7;
}

.rightSide {
  flex: 0.05;
  margin-left: auto; /* Pushes the right side to the extreme right */
}

.lightMode{
  background-color: white;
  color: black;
}
.darkMode {
  background-color: black;
  color: white;
}

@media (max-width: 1144px) {
  .rightside {
    display: none;
  }
}
@media (max-width: 780px) {
  .App{
    box-sizing: border-box;
  }
  .leftSide {
    display: none;
  }

  .rightside {
    display: none;
  }
  .middleSide {
    width: 100vw;
    
  }

  .profileStart {
    padding-left: 20px;
  }

  .highlights {
    margin-left: 0;
  }
}
